{% extends 'base.html' %}

{% block body %}

<div class="card mt-5">
    <div class="card-header text-center py-3">
        <h1>Todo App <i class="fas fa-clipboard-list px-2"></i></h1>
    </div>
    <div class="px-3 py-4">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row g-1">

                <div class="col-10">
                    {{form.name}}
                </div>
                <div class="col-2">
                    <button class="btn btn-success btn-lg w-100" type="submit"><i
                            class="fas fa-plus-circle"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="mx-auto text-center">
        <p class="text-muted"><a href="{% url 'todo-list' %}" class="text-decoration-none text-black-50">Let's see my <span
                    class="link-primary">my current tasks</span> </a>
        </p>
    </div>
    <div class="px-3 my-3">
        <h4 class="bg-primary text-light py-2 rounded text-center">My completed Tasks:</h4>
    </div>

    <div class="card-body">
        {% for task in tasks %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><span>

                    <div class="float-end">
                        <a href="{% url 'update-todo' task.id %}"
                            class="text-decoration-none btn btn-primary rounded-pill">
                            Edit</a>
                        <a href="{% url 'delete-todo' task.id %}"
                            class="text-decoration-none btn btn-danger rounded-pill">
                            Delete</a>
                    </div>
                    <h2><strike>{{task.name}}</strike></h2>
                </span>
                {% if task.description %}
                <p class="text-muted">{{task.description}}</p>
                {% endif %}
            </li>


            {% empty %}
            <li class="list-group-item list-group-flush">
                <h2>You haven't completed any tasks yet <i class="fas fa-sad-tear px-2"></i> </h2>
            </li>
            {% endfor %}
        </ul>

    </div>

</div>

{% include "app/pagination.html" %}


{% endblock body %}